<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMES Darts</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
<div class="main-container">
    <div class="header-text">
        <h1>AMES <span>darts</span></h1>
    </div>
    <div class="content-container">
        <div class="tab-titles">
            <p class="tab-links active-link" onclick="opentab('ongoing')">ongoing</p>
            <p class="tab-links" onclick="opentab('invitations')">invitations</p>
            <p class="tab-links" onclick="opentab('stats')">stats</p>
        </div>

        <div class="tab-contents active-tab" id="ongoing">
            <h2>Setup Games</h2>
            <ul>
                <li th:each="game : ${setupGames}">
                    <span th:text="'Game ID: ' + ${game.id}">Game ID</span> -
                    <span th:text="${game.gameType}">Game Type</span> -
                    <span th:text="'Players: ' + ${game.players.size()}">Number of Players</span>
                    <a th:href="@{/games/{gameId}/setup(gameId=${game.id})}" class="button">Go to Setup</a>
                    <button th:onclick="'deleteGame(' + ${game.id} + ')'">Delete Game</button>
                </li>
            </ul>

            <h2>Ongoing Games</h2>
            <ul>
                <li th:each="game : ${ongoingGames}">
                    <span th:text="'Game ID: ' + ${game.id}">Game ID</span> -
                    <span th:text="${game.gameType}">Game Type</span> -
                    <span th:text="'Players: ' + ${game.players.size()}">Number of Players</span>
                    <a th:href="@{/games/{gameId}(gameId=${game.id})}" class="button">Play</a>
                </li>
            </ul>
        </div>

        <!-- Invitations Tab -->
        <div class="tab-contents" id="invitations">
            <h2>Game Invitations</h2>
            <ul id="invitations-list">
                <li th:each="invitation : ${incomingInvites}" th:id="'invitation-' + ${invitation.id}">
                    <span th:text="'Game ID: ' + ${invitation.gameId}">Game ID</span>
                    <form th:action="@{/games/{invitationId}/accept(invitationId=${invitation.id})}" method="post" style="display:inline;">
                        <button type="submit" class="button">Accept</button>
                    </form>
                    <button th:onclick="'declineInvitation(' + ${invitation.id} + ')'">Decline</button>
                </li>
            </ul>
        </div>
        <div class="tab-contents" id="stats">
            <ul>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
    </div>

    <!-- Sidebar navigation -->
    <div class="side-container">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#playLocal">Play Local</a></li>
                <li>
                    <form th:action="@{/games/}" method="post" style="display:inline;">
                        <button type="submit" class="button">Play Online</button>
                    </form>
                </li>
                <li><a th:href="@{/profile}" class="button">profile</a></li>
                <li><a href="#friends.html">Friends</a></li>
                <li><a href="#statistics">Statistics</a></li>
                <li><a href="#settings">Settings</a></li>
                <li>
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>

<script th:inline="javascript">
    var tabLinks = document.getElementsByClassName("tab-links");
    var tabContents = document.getElementsByClassName("tab-contents");

    function opentab(tabName){
        for(var tabLink of tabLinks){
            tabLink.classList.remove("active-link");
        }
        for(var tabContent of tabContents){
            tabContent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabName).classList.add("active-tab");
    }

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    function acceptInvitation(invitationId, gameId) {
        $.ajax({
            url: '/games/' + invitationId + '/accept',
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function(xhr) {
                if (header && token) {
                    xhr.setRequestHeader(header, token);
                }
            },
            success: function(response, status, xhr) {
                window.location.href = "/games/" + gameId;
            },
            error: function(xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });
    }

    function declineInvitation(invitationId) {
        $.ajax({
            url: '/games/invitations/decline',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(invitationId),
            beforeSend: function(xhr) {
                if (header && token) {
                    xhr.setRequestHeader(header, token);
                }
            },
            success: function(response) {
                alert("Invitation declined.");
                $('#invitation-' + invitationId).remove();
            },
            error: function(xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });
    }

    function deleteGame(gameId) {
        fetch(`/games/${gameId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                [header]: token
            }
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                response.text().then(text => {
                    alert(text);
                });
            }
        })
        .catch(error => {
            console.error("Error:", error);
            alert("An error occurred while trying to delete the game.");
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        const socket = new SockJS('/game-websocket');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function () {
            console.log("Connected to WebSocket");

            stompClient.subscribe('/topic/invites', function (message) {
                const invite = JSON.parse(message.body);
                showInvitation(invite);
            });
        });

        function showInvitation(invite) {
            const invitationsList = document.getElementById("invitations-list");
            const inviteElement = document.createElement("li");
            inviteElement.id = `invitation-${invite.id}`;
            inviteElement.innerHTML = `
                    <span>Game ID: ${invite.gameId}</span>
                    <form onsubmit="acceptInvitation(${invite.id}, ${invite.gameId}); return false;" style="display:inline;">
                        <button type="submit" class="button">Accept</button>
                    </form>
                    <button onclick="declineInvitation(${invite.id})">Decline</button>
            `;
            invitationsList.appendChild(inviteElement);
        }
    });
</script>

</html>
