<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Details</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Game</h1>

<a th:href="@{/}" class="button">Back to Dashboard</a>

<!-- Player 1 Box (Green) -->
<div class="player-box green">
    <div class="score"><strong>Current Score:</strong> </div>
    <div class="left">
        <p><strong>3 Dart Average:</strong> </p>
        <p><strong>First 9 Average:</strong> </p>
    </div>
    <div class="right">
        <p><strong>Last Score:</strong> </p>
        <p><strong>Darts Thrown:</strong> </p>
    </div>
</div>

<!-- Player 2 Box (Red) -->
<div class="player-box red">
    <div class="score"><strong>Current Score:</strong> </div>
    <div class="left">
        <p><strong>3 Dart Average:</strong> </p>
        <p><strong>First 9 Average:</strong> </p>
    </div>
    <div class="right">
        <p><strong>Last Score:</strong> </p>
        <p><strong>Darts Thrown:</strong> </p>
    </div>
</div>
</body>
</html>
